:root {
    --search-padding: 10px;
    --sub-color: #30363d;
    --secondary-color: #161B22;
}

body {
    margin: 0;
    padding: 0;
    background-color: #06090F;
    color: #C9D1D9;
    font-family: 'Karla', sans-serif;
    text-align: center;
}

a {
    color: #C9D1D9;
    text-decoration: none;
}

a:hover {
    color: #58a6ff;
    text-decoration: underline;
}

nav {
    background-color: var(--secondary-color);
    color: #F0F6FC;
    margin: 0 0 0 0;
    padding: 1em;
}

nav h1 {
    margin: 0;
}

#search > * {
    margin: 0;
}

input#search-bar {
    background-color: var(--secondary-color);
    border: 0;
    border-radius: 6px;
    color: #C9D1D9;
    font-size: 16px;
    margin: 5em 0;
    outline: none;
    padding: var(--search-padding);
    width: 40%;
}

input#search-bar:hover {
    border: 1px solid #80bbff;
    padding: calc(var(--search-padding) - 1px);
}

input#search-bar:focus {
    border: 1px solid #58A6FF;
    padding: calc(var(--search-padding) - 1px);
}

button#search-btn {
    background-color: #238636;
    border: 1px solid #2ea043;
    color: #F0F6FC;
    margin: 0;
    outline: none;
    padding: var(--search-padding);    
}

button#search-btn:hover {
    background-color: #2ea043;
    border: 1px solid #3fb950;
    cursor: pointer;
}

/* Box */
#box {
    border: 1px solid var(--sub-color);
    border-radius: 6px;
    margin: auto;
    max-width: 45em;
}

#info {
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

#info img {
    border: 1px solid var(--sub-color);
    border-radius: 50%;
    padding: 2px;
    margin: .5em;
    width: 10px;
}

a > i.fa-external-link-alt {
    visibility: hidden;
}
a:hover > i.fa-external-link-alt {
    visibility: visible;
}

#info .column:nth-child(1) > * {
    width: 80%;
}

/* #info .column:nth-child(2) {
    margin: auto 0;
} */

#info #gh-titles > * {
    margin: 0;
    display: block;
}

#info .name {
    width: 0%;
}

#info .username {
    color: #8B949E;
    font-size: 20px;
    font-weight: lighter;
}

#info .hireable {
    background-color: var(--secondary-color);
    border-radius: 6px;
    padding: 5px;
    font-size: 14px;
}

#info .biography {
    margin-right: 10%;
}

#info .column hr {
    margin-right: 10%;
}

#info #follow p {
    margin: 5px 0;
    display: inline;
    padding: 0 1em 0 0;
}

span.special-span {
    font-weight: bold;
}

@media only screen and (max-width: 640px) {
    #box {
        max-width: 90%;
    }

    #info {
        grid-template-columns: .5fr 2fr;
    }

    #info .column #links > * {
        display: block;
    }

    #info #follow p {
        display: block;
    }
}


#box #info-footer {
    background-color: var(--secondary-color);
    text-align: center;
}