:root {
  --primary: #06090f;
  --secondary: #161b22;
  --b-color: #30363d;
  --b-radius: 6px;
  --blue-primary: #58a6ff;
  --blue-secondary: #80bbff;
  --light: #f0f6fc;
}

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  background-color: #06090f;
  color: #efefef;
  font-family: "Karla", sans-serif;
  text-align: center;
  font-size: 62.5%;
}

a {
  color: #c9d1d9;
  text-decoration: none;
}
a:hover {
  color: #58a6ff;
  text-decoration: underline;
}
a > i.fa-external-link-alt {
  visibility: hidden;
}
a:hover > i.fa-external-link-alt {
  visibility: visible;
}

header {
  display: block;
  height: auto;
  background-color: var(--secondary);
}

header h1 {
  padding: 20px 0;
  font-size: 1.4rem;
}

form {
  display: flex;
  height: 40px;
  width: 80%;
  max-width: 300px;
  margin: 50px auto;
}

.form__input {
  width: 100%;
  padding: 8px 10px;
  background-color: var(--secondary);
  border: 1px solid #21262d;
  outline: none;
  border-radius: 6px 0 0 6px;
  color: var(--light);
  font-size: 1rem;
}
.form__input:hover {
  border: 1px solid var(--blue-secondary);
}
.form__input:focus {
  border: 1px solid var(--blue-primary);
}

.form__button {
  display: block;
  width: 50px;
  height: 100%;
  background-color: #238636;
  border: 1px solid #3fb950;
  border-radius: 0 6px 6px 0;
  color: #fff;
  outline: none;
}

.form__button:hover {
  background-color: #2ea043;
  cursor: pointer;
}

/* ---------------- */

.profile__container {
  position: relative;
  max-width: 500px;
  width: 80%;
  min-width: 200px;
  height: auto;
  min-height: 300px;
  margin: 120px auto 0;
  background-color: var(--primary);
  border-radius: 6px 6px 0 0;
  border: 1px solid var(--b-color);
}

.profile__avatar {
  position: absolute;
  top: -80px;
  left: 0;
  right: 0;
}

.profile__avatar img {
  display: block;
  margin: 0 auto;
  height: 150px;
  width: 150px;
  padding: 2px;
  border: 2px solid var(--b-color);
  background-color: var(--primary);
  border-radius: 50%;
}

.profile__info {
  margin: 90px 0;
}

.profile__info h2 {
  font-size: 1.4rem;
}
.profile__info h4 {
  font-size: 1rem;
  color: #9fa6ad;
}
