:root {
  --primary: #06090f;
  --secondary: #161b22;
  --b-color: #30363d;
  --b-radius: 6px;
  --blue-primary: #58a6ff;
  --blue-secondary: #80bbff;
  --light: #f0f6fc;
}

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  background-color: #06090f;
  color: #efefef;
  font-family: "Karla", sans-serif;
  text-align: center;
  font-size: 62.5%;
}

a {
  color: #c9d1d9;
  text-decoration: none;
}
a:hover {
  color: #58a6ff;
  text-decoration: underline;
}

header {
  display: block;
  height: auto;
  min-width: 300px;
  background-color: var(--secondary);
}

header h1 {
  padding: 20px 0;
  font-size: 1.4rem;
}

form {
  display: flex;
  height: 40px;
  max-width: 300px;
  width: 80%;
  min-width: 240px;
  margin: 50px auto;
}

.form__input {
  width: 100%;
  padding: 8px 10px;
  background-color: var(--secondary);
  border: 1px solid #21262d;
  outline: none;
  border-radius: 6px 0 0 6px;
  color: var(--light);
  font-size: 1rem;
}
.form__input:hover {
  border: 1px solid var(--blue-secondary);
}
.form__input:focus {
  border: 1px solid var(--blue-primary);
}

.form__button {
  display: block;
  width: 50px;
  height: 100%;
  background-color: #238636;
  border: 1px solid #3fb950;
  border-radius: 0 6px 6px 0;
  color: #fff;
  outline: none;
}

.form__button:hover {
  background-color: #2ea043;
  cursor: pointer;
}

/* ---------------- */

.profile__container {
  position: relative;
  max-width: 425px;
  width: 95%;
  min-width: 300px;
  height: auto;
  min-height: 300px;
  margin: 120px auto 0;
  padding-bottom: 30px;
  background-color: var(--primary);
  border-radius: 6px 6px 0 0;
  border: 1px solid var(--b-color);
}

.profile__avatar {
  position: absolute;
  top: -68px;
  left: 0;
  right: 0;
}
.profile__avatar img {
  display: block;
  margin: 0 auto;
  max-height: 140px;
  height: 40%;
  max-width: 140px;
  width: 40%;
  padding: 2px;
  border: 2px solid var(--b-color);
  background-color: var(--primary);
  border-radius: 50%;
}

.profile__links {
  position: absolute;
  top: 8px;
  left: 5px;
  font-size: 1.2rem;
}
.profile__links span a {
  padding: 3px 5px;
  background-color: var(--secondary);
  border-radius: 6px;
}

.profile__flags {
  position: absolute;
  top: 15px;
  right: 5px;
  z-index: 10;
}
.profile__flags small {
  padding: 8px 10px;
  font-size: 0.8rem;
  font-weight: 700;
  background-color: var(--secondary);
  border-radius: 6px;
}

.profile__info {
  margin: 80px 0 0;
}

.profile__name h2 {
  font-size: 1.6rem;
}
.profile__name h4 {
  font-size: 1.4rem;
}
.profile__name h4 a {
  color: #9fa6ad;
}
.profile__name p {
  max-width: 250px;
  margin: 15px auto 0;
  padding: 0 10px;
  font-size: 1rem;
  word-break: break-word;
}

.profile__info-cards__container {
  display: flex;
  justify-content: space-between;
  max-width: 340px;
  margin: 30px auto 0;
}

.profile__info-card {
  width: 85px;
  height: 100px;
  margin: 10px auto;
  background-color: var(--secondary);
  border: 1px solid var(--b-color);
  box-shadow: 5px 5px 0 #000;
}

.profile__info-card h4 {
  padding: 25% 0;
  font-size: 1.4rem;
}

.profile__info-card p {
  font-size: 1rem;
}

.box__footer {
  max-width: 425px;
  width: 95%;
  min-width: 300px;
  margin: 0 auto 30px;
  background-color: var(--secondary);
  border: 1px solid var(--b-color);
  border-radius: 0 0 6px 6px;
  font-size: 0.7rem;
  font-weight: 700;
}
